.s-xmancard-video {
    padding: 0 0 0 5px;
    -webkit-transform: transition3d(0, 0, 0);
    -moz-transform: transition3d(0, 0, 0);
    -o-transform: transition3d(0, 0, 0);
    -ms-transform: transition3d(0, 0, 0);
    transform: transition3d(0, 0, 0)
}

.s-overflow-video {
    height: 363px;
    overflow: hidden
}

.s-xmancard-video .video-col {
    float: left;
    margin-left: 20px;
    width: 195px;
    height: 320px;
    margin-bottom: 25px;
    margin-top: 25px;
    _display: inline;
    *display: inline;
    overflow: hidden
}

.video-col-line {
    width: 840px;
    height: 0;
    border-top: 1px solid #F0F0F0;
    float: left;
    margin-left: 20px;
    _font-size: 0;
    *display: inline;
    *margin-bottom: 0
}

.video-col-line:after {
    content: "";
    float: left
}

.s-xmancard-video .video-col .video-item-1 {
}

.s-xmancard-video .video-col .video-item-2 {
    height: 150px;
    margin-bottom: 20px;
    *margin-bottom: 20px;
    _margin-bottom: 18px
}

.s-xmancard-video .video-col .video-item {
    width: 195px;
    text-align: left
}

.s-xmancard-video .video-col .v-pic {
    position: relative;
    overflow: hidden
}

.s-xmancard-video .video-col .v-pic .pic {
}

.s-xmancard-video .video-col .v-pic .v-tag {
    z-index: 3;
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px
}

.s-xmancard-video .video-col .video-item .v-pic-1 {
    width: 195px;
    height: 270px
}

.s-xmancard-video .video-col .video-item .v-pic-2 {
    width: 195px;
    height: 100px
}

.s-xmancard-video .video-col .video-item .v-pic-1 img {
    height: 270px;
    _height: 270px
}

.s-xmancard-video .blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false)
}

.s-xmancard-video .nointerest {
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 11;
    display: none
}

.s-xmancard-video .black {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000;
    opacity: .4;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40)
}

.s-xmancard-video .v-pic-1 .nointerest {
    left: 66px;
    top: 102px
}

.s-xmancard-video .v-pic-2 .nointerest {
    left: 65px;
    top: 18px
}

.s-xmancard-video .video-col .video-item .v-pic-2 img {
    height: 100px
}

.s-xmancard-video .video-col .video-item .v-txt {
    display: inline-block;
    text-decoration: none;
    zoom: 1;
    background: #F5F5F5;
    border: 1px solid #F1F1F1;
    border-top: none
}

.s-xmancard-video .video-col .video-item-2 .v-txt {
    padding-top: 5px;
    padding-top: 6px;
    line-height: 20px;
    height: 44px;
    width: 194px;
    _width: 179px;
    overflow: hidden;
    padding-left: 9px;
    padding-right: 7px;
}

.s-xmancard-video .video-col .video-item-1 .v-txt {
    height: 49px;
    width: 196px;
    overflow: hidden;
    padding: 0 9px;
}

.s-xmancard-video .video-col .video-item-1 .v-txt .score {
    font-size: 13px;
    color: #999;
    margin-top: 6px;
    *margin-top: 4px;
    _margin-top: 1px
}

.s-xmancard-video .video-col .video-item-1 .v-txt .score .score-star {
    display: inline-block;
    background-repeat: repeat-x;
    height: 13px;
    width: 65px;
    background-image: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/star_592adb7e.png);
    background-repeat: repeat-x;
    vertical-align: middle;
    margin-bottom: 4px;
    position: relative;
    margin-right: 5px
}

.s-xmancard-video .item-wrapper .tag-sort {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 3;
    display: block
}

.s-xmancard-video .item-wrapper:hover .tag-sort {
    display: none
}

.s-xmancard-video .video-col .video-item .v-pic .tag-sort1 {
    background-image: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/video_corner_bce72425.png);

    background-position: 0 0
}

.s-xmancard-video .video-col .video-item .v-pic .tag-sort2 {
    background-image: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/video_corner_bce72425.png);

    background-position: -42px 0
}

.s-xmancard-video .video-col .video-item .v-pic .tag-sort3 {
    background-image: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/video_corner_bce72425.png);
    background-position: -84px 0
}

.s-xmancard-video .video-col .video-item .v-pic .tag-sort4 {
    background-image: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/video_corner_bce72425.png);
    background-position: -126px 0
}

.s-xmancard-video .video-col .video-item-1 .v-txt .score .score-star .star-active {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 13px;
    width: 13px;
    background-repeat: repeat-x;
    background-position: 0 -13px;
    vertical-align: middle;
    margin-bottom: 4px
}

.s-xmancard-video .video-col .video-item .v-txt .text {
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-align: left;
    max-width: 196px;
    _width: 175px;
    text-decoration: none;
}

.s-xmancard-video .video-col .video-item .v-txt .text a {
    font-size: 14px;
    color: #333;
    max-width: 195px;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.s-xmancard-video .video-col .video-item-1 .v-txt .text {
    display: block;
    height: 14px;
    margin-top: 6px;
    *margin-top: 9px;
    _margin-top: 9px
}

.s-xmancard-video .video-col .video-item-2 .v-txt .text {
    display: block;
    height: 40px;
}

.s-xmancard-video .video-col .video-item-2 .v-txt .text a {
    margin-top: -2px;
    white-space: normal;
    font-size: 13px;
    line-height: 21px
}

.s-xmancard-video .video-col .video-item .v-txt .text a:hover {
    color: #07f
}

.s-xmancard-video .video-col a img {
}

.s-xmancard-video .video-col .hover .v-txt {
    border: 1px solid #e9e9e9;
    border-top: none;
    background-color: #f8f8f8
}

.s-xmancard-video .video-col .video-item .v-pic .bg {
    position: absolute;
    height: 40px;
    width: 195px;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
    cursor: pointer;
    overflow: hidden
}

.s-xmancard-video .video-col .video-item .v-pic a {
    cursor: pointer;
    text-decoration: none
}

.video-col .item-wrapper {
    position: relative
}

.s-xmancard-video .video-col .video-item .pic-hover img {
    position: absolute;
    left: 0;
    top: 0;
    -moz-transition: transform .3s;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    -webkit-transition: transform .3s;
    backface-visibility: hidden
}
.s-xmancard-video .video-col .video-item .pic-hover:hover .dustbin,
.s-xmancard-video .video-col .video-item .pic-hover:hover .star
{
    display: block;
}
.s-xmancard-video .video-col .video-item .ie-hover .img-layer-ie {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff
}

.s-xmancard-video .video-col .video-item .ie-hover:hover .img-layer-ie {
    display: block;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0)
}

.s-xmancard-video .subscribe {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    top: 5px;
    left: 149px
}

.s-xmancard-video .subscribe .sub {
    background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/vicon_312b5ba6.png) no-repeat;
    _background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/video/vicon_312b5ba6.png) no-repeat;
    background-position: -26px -2px;
    _zoom: 1;
    width: 18px;
    height: 18px;
    display: none;
    _display: block
}

.s-xmancard-video .item-wrapper:hover .subscribe .sub {
    display: block
}

.s-xmancard-video .subscribe .sub:hover {
    background-position: -26px -21px
}

.s-xmancard-video .subscribe .sub .sub-bg {
    display: none
}

.s-xmancard-video .subscribe .sub .sub-star {
    display: none
}

.s-xmancard-video .subscribe .unsub {
    background-position: -4px -2px;
    _zoom: 1;
    width: 18px;
    height: 18px;
    display: none;
    _display: block
}

.s-xmancard-video .item-wrapper:hover .subscribe .unsub {
    display: block
}

.s-xmancard-video .subscribe .unsub:hover {
    background-position: -4px -21px
}

.s-xmancard-video .subscribe .unsub .sub-bg {
    display: none
}

.s-xmancard-video .subscribe .unsub .sub-star {
    display: none
}

.sui-tips-exceedtip-video-mine {
    position: fixed !important;
    _position: absolute;
    left: 50% !important;
    width: 390px !important;
    height: 107px;
    margin: -53px 0 0 -195px !important;
    padding: 0
}

.sui-tips-exceedtip-video-mine .sui-tips-arrow {
    display: none
}

.sui-tips-exceedtip-video-mine .sui-tips-body {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-top: 23px;
    width: 100%
}

.s-video-wrapper .item-wrapper .dustbin {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 18px;
    height: 18px;
    z-index: 1;
    display: none;
    background: url("../img/vicon_312b5ba6.png") no-repeat -48px -2px;
}

.s-video-wrapper .item-wrapper .star {
    position: absolute;
    right: 29px;
    top: 5px;
    width: 18px;
    height: 18px;
    z-index: 1;
    display: none;
    background: url(../img/vicon_312b5ba6.png) no-repeat -4px -2px;
}
.s-video-wrapper .item-wrapper:hover .dustbin {
    display: block;

}

.s-video-wrapper .dustbin:hover {
    background-position: -48px -21px;
    cursor: pointer
}
.sui-tips-exceedtipvideo {
    position: fixed !important;
    _position: absolute;
    left: 50% !important;
    width: 390px !important;
    height: 107px;
    margin: -53px 0 0 -195px !important;
    padding: 0;
    color: #222
}

.sui-tips-exceedtipvideo .sui-tips-arrow {
    display: none
}

.sui-tips-exceedtipvideo .sui-tips-body {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-top: 23px;
    width: 100%
}

.sui-tips-nointeresttipvideo .sui-tips-arrow {
    display: none
}

.sui-tips-Subtip-video .sui-tips-arrow {
    display: none
}

.sui-tips-unSubtip-video .sui-tips-arrow {
    display: none
}

.sui-wraper .sui-dialog-video-pannel {
    position: fixed;
    _position: absolute;
    margin: -100px 0 0 -200px !important
}

.sui-wraper .sui-dialog-video-pannel .sui-dialog-body {
    line-height: 30px;
    font-size: 14px;
    padding: 0;
    text-align: center;
    height: 103px;
    *height: 145px
}

.sui-wraper .sui-dialog-video-pannel .sui-dialog-body .pannel-content {
    margin-top: 42px;
    color: #222
}

.sui-wraper .sui-dialog-video-pannel .sui-dialog-footer {
    text-align: left
}

.sui-wraper .sui-dialog-video-pannel .sui-dialog-buttonok {
    margin-left: 156px
}

.sui-wraper .sui-dialog-video-pannel .noremind {
    text-decoration: none;
    color: #999;
    margin: 0;
    outline: none
}

.sui-wraper .sui-dialog-video-pannel .noremind .checkbox {
    margin: 0 8px 0 26px;
    display: inline-block;
    font-size: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #389cff;
    vertical-align: top
}

.sui-wraper .sui-dialog-video-pannel .noremind .checkboxbk {
    background-position: 0 -12px
}

@-webkit-keyframes video-buzz-out {
    10% {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg)
    }
    20% {
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }
    30% {
        -webkit-transform: rotate(6deg);
        -moz-transform: rotate(6deg);
        -o-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg)
    }
    40% {
        -webkit-transform: rotate(-6deg);
        -moz-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
        transform: rotate(-6deg)
    }
    50% {
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        -o-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
        transform: rotate(4deg)
    }
    60% {
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    70% {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        transform: rotate(2deg)
    }
    80% {
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        transform: rotate(-2deg)
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes video-buzz-out {
    10% {
        transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg)
    }
    20% {
        transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg)
    }
    30% {
        transform: rotate(6deg);
        -moz-transform: rotate(6deg);
        -o-transform: rotate(6deg);
        -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg)
    }
    40% {
        transform: rotate(-6deg);
        -moz-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg)
    }
    50% {
        transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        -o-transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        -ms-transform: rotate(4deg)
    }
    60% {
        transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg)
    }
    70% {
        transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg)
    }
    80% {
        transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg)
    }
    90% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg)
    }
    100% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg)
    }
}

.s-video-wrapper .buzz {
    -webkit-animation-name: video-buzz-out;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: video-buzz-out;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1
}

.s-content .card-tab {
    position: relative;
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: -12px;
    text-align: left;
    z-index: 3
}

.s-content .card-tab .tab-name {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    padding: 0 12px;
    height: 100%;
    margin: 0 10px 0 0;
    font-size: 14px;
    cursor: pointer;
    text-align: center
}

.s-content .card-tab .tab-name-cur {
    padding: 0 10px;
    border-bottom: 2px solid #3288ff;
    font-weight: bold
}

.s-content .tab-content {
    display: none
}

.testlist {
    vertical-align: top;
    display: inline-block;
    list-style: none;
    background: white;
    display: none
}

.testlist li {
    padding: 0 10px;
    background: #ccc
}

.testlist li:hover {
    background: white
}

.hasTab .s-overflow-video {
    height: 335px;
    overflow: hidden;
    position: relative
}