
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496829169084'); /* IE9*/
  src: url('iconfont.eot?t=1496829169084#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496829169084') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496829169084') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496829169084#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before { content: "\e60f"; }

.icon-config:before { content: "\e6a0"; }

.icon-yonghu:before { content: "\e6db"; }

.icon-baidu:before { content: "\e62e"; }

.icon-tianqi:before { content: "\e63d"; }

.icon-add:before { content: "\e62b"; }

.icon-camera:before { content: "\e64f"; }

.icon-camera1:before { content: "\e60d"; }

.icon-bofangqixiashou:before { content: "\e615"; }

.icon-weather:before { content: "\e601"; }

.icon-bofangqi:before { content: "\e658"; }

.icon-cc-mic:before { content: "\e675"; }

.icon-huidaodingbu:before { content: "\e612"; }

.icon-baidu-person-outline:before { content: "\e625"; }

.icon-sousuo_sousuo:before { content: "\e60b"; }

.icon-icon-prev-song:before { content: "\e503"; }

.icon-bofangqikaishi:before { content: "\e60c"; }

