@import "../helpers/variables";
.header{
  background: #ffffff;
  height: $header-height;
  border-bottom: 1px solid #ececec;
  .w-1000{
    width: 1000px;
    margin: 0 auto;
    line-height: 60px;
  }
  a{

    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  .img-box img {
      margin-top: 10px;
      width: 109px;
      float: left;

  }
  .nav-lists{

    margin: 0 0 0 60px;
    /*width: 200px;*/
    height: $header-height;
    display: inline-block;
    float: left;
    li {
      list-style: none;
      font-size: 14px;
      float: left;
      margin-right: 50px;
      cursor: pointer;
      .down-icon {
        width: 8px;
        height: 8px;
        border-top: 1px solid #c1c1c1;
        border-left: 1px solid #c1c1c1;
        display: inline-block;
        transform: rotate(-135deg);
        transform-origin: 4px 4px;
        transition: transform .5s;
        &:hover{
          transform: rotate(45deg);
          transform-origin: 4px 4px;
        }
      }
      &:hover{

        color: $green;;
      }
    }
  }
  .icon-box {
    margin: 0;
    padding: 0;
    height: $header-height;
    margin-right: 10px;
    text-align: right;
    span {
      float: right;
      width:40px;
      margin-top: 15px;
      line-height: 60px;
      display: inline-block;
    }
    span.headerIcon-msg{
      margin-top: 23px;
    }
  }

  .headerIcon-app,.headerIcon-search{
    transform: scale(0.5);
  }
}


