@import "../helpers/mixin";
.partner{
  @include content(240px);
  h2 {
    font-size: 18px;
    color: #555;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px
  }
  .more-partner {
    display: inline-block;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s;
    &:hover{
      background: #35b558;
      color: #fff;
    }
  }
  ul {
    width: 100%;
    height: 120px;
    li {
      float: left;
      width: 150px;
      height: 50px;
      border: 1px solid #e9e9e9;
      background: #fff;
      margin-right: 17px;
      transition: box-shadow .5s;
      &:hover{
        border: 1px solid #e1e2e1;
        box-shadow: 0 2px 6px #ccc;
      }
      &:nth-child(6),
      &:last-child{
        margin-right: 0
      }
      &:nth-child(n+7) {
        margin-top: 20px
      }
      a {
        display: block;
        height: 100%;
        background: url(/images/p_microsoft_82f9a9a.png) no-repeat center;

      }
      }

    }

  }
